.container.header form {
    display: flex;
    width: 600px;
    margin: 20px auto;
    align-content: center;
    justify-content: center;
}

.container.notes {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.container.notes .row {
    margin-top: 20px;
}

.container.header form input[type="text"] {
    width: 500px;
    margin-right: 20px;
}

.container.notes {
    margin: 20px auto;
    box-shadow: 3px 3px 5px #535353;
    border-radius: 6px 6px 6px 6px;
}